{% extends 'base.html' %} {% block title %} {{ title }} {% endblock title %} {%
block content %}
<form class="mt-12 p-10 mx-auto max-w-lg shadow" method="post" action="">
  <fieldset class="container">
    <legend class="text-center text-gray-500">Password Reset</legend>
    {{ form.hidden_tag() }}
    <div class="form-control">
      {{ form.email.label(class= 'block mb-2 text-sm font-medium text-gray-900
      dark:text-white') }}
      <div class="input-group input-group-sm">
        {% if form.email.errors %}
        <!---->
        {{ form.email(class= 'bg-red-50 border border-red-500 text-red-900
        placeholder-red-700 text-sm rounded-lg focus:ring-red-500
        dark:bg-gray-700 focus:border-red-500 block w-full p-2.5
        dark:text-red-500 dark:placeholder-red-500 dark:border-red-500')}}
        <!---->
        {% for error in form.email.errors %}
        <div class="invalid-feedback">
          <span class="mt-2 text-sm text-red-600 dark:text-red-500"
            >{{ error }}</span
          >
        </div>
        {% endfor %} {% else %} {{ form.email(class= 'bg-gray-50 border
        border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
        dark:focus:ring-blue-500 dark:focus:border-blue-500') }} {% endif %}
      </div>
    </div>
    <div class="my-3 form-group">
      {{ form.submit(class= 'btn btn-outline btn-accent w-full') }}
    </div>
  </fieldset>
</form>
{% endblock content %}
